{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    {# Load the tag library #}
    {% load bootstrap4 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {# Load BS Alerts #}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
    <div class="container">
        <a class="navbar-brand" href="/">Django Web App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
                </li>
            </ul><!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
        </div>
    </div>
</nav>
<div style="height: 20px;"></div>
<div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Master Blog</div>
                <div class="card-body">
                    <p>This is my blog I've written {% total_posts %} post so far.</p>
                    <h3>Latest posts</h3>
                    {% show_latest_posts 3 %}
                    <h3>Most commented posts</h3>
                    {% get_most_commented_posts as most_commented_posts %}
                    <ul>
                        {% for post in most_commented_posts %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                        <p><a class="btn btn-primary" href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed</a>
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>