{% extends "blog/base.html" %}

{% load blog_tags %}

{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="col-lg-8">
    <div class="card">
        <div class="card-header">{{ post.title }}</div>
        <div class="card-body">
            <p class="date">Published - {{ post.publish }} by {{ post.author }}</p>

            {{ post.body|markdown }}

            <p><a href="{% url 'blog:post_share' post.id %}" class="btn btn-link">Share this post</a></p>

            {% with comments.count as total_comments %}
            <h5>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h5>
            {% endwith %}
            <hr />
            <h5>Similar post</h5>

            {% for post in similar_posts %}

            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>

            {% empty %}
            There are no similar posts yet.
            {% endfor %}
            <hr />
            {% for comment in comments %}
            <div class="comment">
                <p class="info">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }} </p>

                {{ comment.body|linebreaks }}
                <hr />
            </div>
            {% empty %}
            <p>There are no comments yet.</p>
            {% endfor %}
            {% if new_comment %}
            <h3>Your comment has been added.</h3>
            {% else %}
            <h3>Add a new comment</h3>
            <form action="." method="post" novalidate>
                {{ comment_form|crispy}}
                {% csrf_token %}
                <p><input type="submit" class="btn btn-primary" value="Add comment"></p>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}