{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}

{% block content %}
<div class="col-lg-8">
    <div class="card">
        <h5 class="card-header">Blog Entries</h5>
        <div class="card-body">
            {% if tag %}
            <h4>Post tagged with "{{ tag.name }}"</h4>
            {% endif %}
            {% for post in posts %}
            <h4>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                <div class="tags">
                    Tags: {% for tag in post.tags.all %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </h4>
            <p class="date">
                Published {{ post.publish }} by {{ post.author }}
            </p>

            {{ post.body|markdown|truncatewords_html:30 }}
            {% endfor %}
            {% include "pagination.html" with page=posts %}
        </div>
    </div>
</div>
{% endblock %}