{% extends "blog/base.html" %}
{% block title %}Search{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if query %}
<h1>Post containing "{{ query }}"</h1>
<h3>
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
</h3>
{% for post in results %}
<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
{{ post.body|truncatewords:5 }}
{% empty %}
<p>There are no results for your query.</p>
{% endfor %}
<p><a href="{% url 'blog:post_search' %}">Search again</a></p>
{% else %}
<div class="col-lg-8">
    <div class="card">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <h1>Search for posts</h1>
            <form action="." method="get">
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Search">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}