{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if sent %}
<div class="col-lg-8">
    <div class="card">
        <div class="card-header">Email Blog</div>
        <div class="card-body">
            <h4>E-mail successfully sent</h4>
            <p>"{{ post.title }}" was successfully sent {{ form.cleaned_data.to }}.</p>
        </div>
    </div>
</div>
{% else %}
<div class="col-lg-8">
    <div class="card">
        <div class="card-header">Share Blog Post</div>
        <div class="card-body">
            <h5>"{{ post.title }}" by e-mail</h5>
            <form method="post" action="." novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Send e-mail">
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}